@keyframes slide-up {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 1;
  }
}

.group-hover\:animate-slide-up:hover .group-hover\:animate-slide-up {
  animation: slide-up 0.6s forwards;
}
